.innerNav{
    background-color : #e4ecf5;
    padding : 10px 0;
}

.uploadButton{
    width : 150px;
}

.downloadButton{
    width: 150px;
    margin-left: 10px;
}

.deleteButton{
    float : right;
    margin-left : 10px;
}

.searchBar{
    width : 300px;
    display : inline-block;
    float : right;
}