.dropZone{
    width: 90%;
    height: 400px;
    padding: 100px 10px;
    border: 2px dashed gray;
    margin: 0 auto 30px;
}

.dropIcon{
    color: #aaa;
    text-align: center;
    font-size: 4em;
    /*margin-bottom: 15px;*/
}

.dropText{
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.3em;
}

.dropLabel{
    cursor: pointer;
}

.uploadBtn{
    display: block;
    margin: auto;
}

.fileNames{
    margin-left: 50px;
    max-height: 200px;
    overflow: auto;
}