.cardImg{
    width: 100%;
    height: 70%;
    background-color: #eee;
}

.card{
    margin: 10px;
    width: 250px;
    height: 210px;
    padding: 15px;
    padding-bottom: 5px;
    display: inline-block;
    box-shadow: 0 0 2px #444;
    
}

.toggleBox{
    margin-bottom:5px;
}

.cardText{
    padding:5px;
}
