.cardImg{
    width: 50%;
    margin: 10px auto;
    height: 50%;
    background-color: #eee;
}

.card{
    margin: 10px;
    width: 250px;
    height: 225px;
    padding: 15px;
    padding-bottom: 5px;
    box-shadow: 0 0 1px #bbb;
    text-align: center;
}

.toggleBox{
    margin-bottom:5px;
}

.cardText{
    /*padding:5px;*/
}

.icon{
    font-size: 6em;
    color: #6c757d;
}
