.fileCardContainer{
    background-color : white;
    box-shadow : 0 0 1px #aaa; 
    overflow : auto; 
    text-align :center;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;    
}

.Button{
    position: absolute;
    bottom: 10px;
    right: 10px;
}