.DirectoryCard{
    margin: 10px;
    width: 250px;
    height: 225px;
    padding: 15px;
    padding-bottom: 5px;
    box-shadow: 0 0 1px #bbb;
    text-align: center;
}

.DirectoryIcon{
    font-size: 6em;
    color: #6c757d;
}